* {
    background-color: bisque;
    text-align: center;
    color: black;
    
}

#title {
    font-weight: 800;
    font-family: Helvetica, "Times New Roman", serif;
    text-align: center;
    
}

.links {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Courier New', Courier, monospace;
}

.recipes {
    font-weight: 800;
    font-family: Helvetica, "Times New Roman", serif;
    text-align: center;
}